.SearchBar {
  margin-bottom: 10px;
}
.SearchBar > nav > ul {
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: space-evenly;
}

.Inicio {
  font-size: 40px;
  text-decoration: none;
  justify-content: space-evenly;
}

.New {
  font-size: 40px;
  text-decoration: none;
}

.SearchBar a:hover {
  text-decoration: underline;
  color: rgb(0, 12, 182);
}
.publicacion {
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 10px;
  border: 4px solid black;
  font-size: 30px;
}

.publicacion a {
  text-decoration: none;
}

.publicacion button {
  border: 2px solid black;
  margin: 10px;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos del modo oscuro */
.dark {
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

.dark .SearchBar > nav > ul {
  background-color: #1f1f1f;
}

.dark .Inicio, .dark .New {
  color: white;
}

.dark .publicacion {
  background-color: #333;
  color: #e0e0e0;
  border-color: #555;
}

.dark .publicacion a {
  color: #e0e0e0;
}

.dark footer > div {
  background-color: #1f1f1f;
  border-color: #555;
}

/* Estilos del modo claro */
.light {
  background-color: #ffffff; /* Fondo original */
  color: #ffffff; /* Texto claro por defecto */
}
.light .SearchBar > nav > ul {
  background-color: black;
}

.light .h4-h4{
  color: #1a1a1a;
}

.light .publicacion {
  background-color: grey;
  color: black;
  border-color: black;
}
.light .publicacion a {
  color: black;
}

.light .Inicio, .light .New {
  color: white;
}

footer > div{
  margin-top: auto;
  border: 4px solid black;
  background-color: gray;
  text-align: center;
}

.remove {
  margin-left: 10px;
}

.admin {
  color: red;
  margin-top: 0;
  font-size: 38px;
}

.h4-h4{
  font-size: 25px;
}
