.Nav-comentar {
    margin-bottom: 10px;
  }

.Nav-comentar > ul {
    display: flex;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    background-color: black;
  }

.comentarios {
    margin-bottom: 10px;
    font-size: 30px;
}

.dark .comentarios {
    background-color: #333;
    color: #e0e0e0;
    border-color: #555;
}

.dark .comentarios > p {
    color: #e0e0e0;
}

.light .comentarios {
    background-color: grey;
    color: black;
    border-color: black;
}
.light .comentarios > p {
    color: black;
}

.comentarios > p {
    margin-left: 10px;
}

.Comen-title {
    font-size: 20px;
    margin-left: 20px;
}

.dark .Comen-title {
    color: white;
}

.light .Comen-title {
    color: black;
}

.form-comentarios {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-comentarios > input{
    width: 80px;
    height: 30px;
    margin: 10px;
    margin-left: 25px;
}

.form-comentarios > input[type=text]{
    width: 350px;
    height: 30px;
    margin: 10px;
}

.form-comentarios > textarea {
    margin: 10px;
    resize: none;
    width: 390px;
    height: 290px;
}